<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../css/out.css" rel="stylesheet" />

    <link href="https://unpkg.com/transition-style" rel="stylesheet" />
    <title>Manager Bot - DashBoard</title>
    <style>
      body {
        background: #666;
      }
    </style>
  </head>
  <body class="bg">
    <div class="transition-overlay_out_2"></div>

    <!-- Seu conteúdo HTML aqui -->
    <div class="py-24 sm:py-32">
      <div
        class="mx-auto grid max-w-7xl gap-x-8 gap-y-20 px-6 lg:px-8 xl:grid-cols-3"
      >
        <div class="max-w-2xl">
          <h2
            class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
          >
            Escolha o servidor desejado para gerenciar
          </h2>
          <p class="mt-6 text-lg leading-8 text-gray-400">
            Para acessar o servidor você deve ter as permissões necessarias para
            manipular os dados do servidor em questão.
          </p>
        </div>
        <% user.guilds.forEach(guild => { %>
        <ul
          class="glowing-list topbar-color rounded-md p-4 shadow-lg:bg-green-700"
        >
          <li class="flex items-center justify-between mb-4">
            <h3 class="text-lg font-semibold text-gray-800">
              <%= guild.name %>
            </h3>
            <!-- Defina uma imagem padrão para todas as guildas -->
            <img
              class="h-24 w-24 rounded-full"
              src="/res/serverIcon/nonserverimg.jpg"
              id="AguildIcon<%= guild.id %>"
            />
          </li>
          <li class="text-sm text-gray-600">ID: <%= guild.id %></li>
          <!-- Adicione mais informações do servidor conforme necessário -->
          <li class="mt-2">
            <form
              action="/bot/botinfo"
              method="post"
              class="flex flex-auto items-center space-y-4"
            >
              <input
                type="hidden"
                id="guilds"
                name="guilds"
                value="<%= guild.id %>"
              />
              <input
                type="hidden"
                id="icon"
                name="icon"
                value="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>.png"
              />
              <button
                type="submit"
                class="bg-green-300 px-5 py-2 rounded-md  focus:outline-none focus:ring focus:border-blue-300"
              >
                Selecionar
              </button>
            </form>
          </li>
        </ul>
        <% }); %>
      </div>
    </div>

    <script>
      async function redirecionarParaRota(guildId) {
          try {
              const response = await fetch(`/bot/obter-icone-guilda/${guildId}`);
              const data = await response.json();
              const guildIcon = document.getElementById("AguildIcon" + guildId);
              if (data.iconURL) {
                  guildIcon.src = data.iconURL;
                  guildIcon.style.backgroundColor = "transparent";
              } else {
                  guildIcon.src = "/res/serverIcon/nonserverimg.jpg";
              }
          } catch (error) {
              console.error("Erro ao carregar imagem da guilda:", error);
          }
      }

      window.onload = function() {
          <% user.guilds.forEach(guild => { %>
          redirecionarParaRota('<%= guild.id %>');
          <% }); %>
      }
    </script>
  </body>
</html>
