<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Banco de Dados - Guilda</title>
  </head>
  <body>
    <!-- Adicione esta div no local desejado em seu HTML -->
    <div id="mensagemPopUp" style="display: none"></div>

    <h1>Guilda <%= info.name %></h1>

    <% if (info.icon && info.icon.indexOf('null') === -1) { %>
    <p><img src="<%= info.icon %>" alt="Ícone da guilda" /></p>
    <% } else { %>
    <!-- Substitua "caminho/para/sua/imagem.png" pelo caminho real da sua imagem padrão -->
    <p><img src="/res/serverIcon/nonserverimg.jpg" alt="Ícone padrão" /></p>
    <% } %>

    <p>ID da Guilda: <%= info.id %></p>

    <h2>Informações sobre Membros da Guilda</h2>
    <table>
      <thead>
        <tr>
          <th>Código do Usuário</th>
          <th>Nome de Usuário</th>
          <th>Tempo Total em Chamadas de Voz (minutos)</th>
          <th>Número Total de Mensagens Enviadas</th>
          <th>ID da Guilda</th>
        </tr>
      </thead>
      <tbody>
        <% info1.forEach(item => { %>
        <tr>
          <td><%= item.codigouser %></td>
          <td><%= item.username %></td>
          <td><%= item.voiceTime %></td>
          <td><%= item.totalMessages %></td>
          <td><%= item.idguild %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <h2>Canais a Notificar na Guilda</h2>

    <button onclick="abrirModal()">Adicionar Dados</button>

    <!-- Modal para adicionar dados -->
    <div id="modal" style="display: none">
      <!-- Conteúdo do modal -->
      <form id="addDataForm" action="/bot/adicionar-dados" method="post">
        <label for="channel">Nome do Canal:</label>
        <input type="text" id="channel" name="newData" required />

        <!-- Inclua o campo guildId no formulário -->
        <input
          type="hidden"
          id="guildId"
          name="guildId"
          value="<%= info.id %>"
        />

        <button type="button" onclick="fecharModal()">Fechar</button>
        <button type="submit">Adicionar</button>
      </form>
    </div>

    <table>
      <thead>
        <tr>
          <th>YouTube</th>
          <th>Channel</th>
          <th>Last Video</th>
          <th>Last Publish</th>
          <th>Message</th>
          <th>Notify Guild</th>
        </tr>
      </thead>
      <tbody>
        <% info2.forEach(item => { %>
        <tr>
          <td><%= item.youtube %></td>
          <td><%= item.channel %></td>
          <td><%= item.lastVideo %></td>
          <td><%= item.lastPublish %></td>
          <td><%= item.message %></td>
          <td><%= item.notifyGuild %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <button onclick="voltarAoDashboard()">Voltar ao Dashboard</button>

    <script>
      function abrirModal() {
        var modal = document.getElementById("modal");
        modal.style.display = "block";
      }

      function fecharModal() {
        var modal = document.getElementById("modal");
        modal.style.display = "none";
      }

      function voltarAoDashboard() {
        window.history.back();
      }
    </script>
  </body>
</html>
