<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <title>Banco de Dados - Guilda</title>
  </head>
  <body
    class="bg-yellow-100 min-h-screen flex flex-col items-center justify-center"
  >
    <div id="mensagemPopUp" class="hidden"></div>

    <h1 class="text-3xl font-bold my-4">Banco de Dados do Servidor</h1>

    <h1 class="text-2xl font-bold my-4">Guilda <%= info.name %></h1>

    <div class="my-4">
      <% if (info.icon && info.icon.indexOf('null') === -1) { %>
      <img
        src="<%= info.icon %>"
        alt="Ícone da guilda"
        class="rounded-full max-w-full h-auto"
      />
      <% } else { %>
      <img
        src="/res/serverIcon/nonserverimg.jpg"
        alt="Ícone padrão"
        class="rounded-full max-w-full h-auto"
      />
      <% } %>
    </div>

    <button
      onclick="voltarAoDashboard()"
      class="bg-purple-300 text-white px-4 py-2 rounded-md mt-4"
    >
      Voltar ao Dashboard
    </button>

    <!-- Informações sobre Membros da Guilda -->
    <h2 class="text-2xl font-bold mt-8">Informações sobre Membros da Guilda</h2>
    <table
      class="table-auto w-11/12 mt-4 bg-purple-300 border rounded-lg shadow-md overflow-hidden"
    >
      <thead class="bg-green-300">
        <tr>
          <th class="px-4 py-2">Código do Usuário</th>
          <th class="px-4 py-2">Nome de Usuário</th>
          <th class="px-4 py-2">Tempo Total em Chamadas de Voz (minutos)</th>
          <th class="px-4 py-2">Número Total de Mensagens Enviadas</th>
          <th class="px-4 py-2">ID da Guilda</th>
        </tr>
      </thead>
      <tbody>
        <% info1.forEach(item => { %>
        <tr class="bg-gray-100">
          <td class="border border-green-300 px-4 py-2">
            <%= item.codigouser %>
          </td>
          <td class="border border-green-300 px-4 py-2">
            <%= item.username %>
          </td>
          <td class="border border-green-300 px-4 py-2">
            <%= item.voiceTime %>
          </td>
          <td class="border border-green-300 px-4 py-2">
            <%= item.totalMessages %>
          </td>
          <td class="border border-green-300 px-4 py-2"><%= item.idguild %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <!-- Youtube Channels a Notificar na Guilda -->
    <h2 class="text-2xl font-bold mt-8">
      Youtube Channels a Notificar na Guilda
    </h2>
    <button
      onclick="abrirModal()"
      class="bg-green-400 text-white px-4 py-2 rounded-md mt-4 hover:bg-green-500 focus:outline-none focus:shadow-outline-green"
    >
      Adicionar Dados
    </button>

    <div
      id="modal"
      class="hidden fixed inset-0 w-1/6 h-1/6 mx-auto my-auto items-center justify-center"
    >
      <form
        id="addDataForm"
        action="/bot/adicionar-dados-youtube"
        method="post"
        class="bg-white p-8 rounded-lg shadow-md w-full max-w-md"
      >
        <label for="channel" class="block text-sm font-medium text-gray-700"
          >Nome do Canal:</label
        >
        <input
          type="text"
          id="channel"
          name="newData"
          required
          class="mt-1 p-2 block w-full border rounded-md"
        />
        <input
          type="hidden"
          id="guildId"
          name="guildId"
          value="<%= info.id %>"
        />
        <div class="mt-4 flex space-x-4">
          <button
            type="button"
            onclick="fecharModal()"
            class="bg-gray-500 text-white px-4 py-2 rounded-md"
          >
            Fechar
          </button>
          <button
            type="submit"
            class="bg-purple-300 text-white px-4 py-2 rounded-md"
          >
            Adicionar
          </button>
        </div>
      </form>
    </div>

    <table
      class="table-auto w-11/12 mt-4 bg-green-300 border rounded-lg shadow-md overflow-hidden"
    >
      <thead class="bg-purple-300">
        <tr>
          <th class="px-4 py-2">YouTube</th>
          <th class="px-4 py-2">Channel</th>
          <th class="px-4 py-2">Last Video</th>
          <th class="px-4 py-2">Last Publish</th>
          <th class="px-4 py-2">Message</th>
          <th class="px-4 py-2">Notify Guild</th>
        </tr>
      </thead>
      <tbody>
        <% info2.forEach(item => { %>
        <tr class="bg-gray-100">
          <td class="border border-purple-300 px-4 py-2">
            <%= item.youtube %>
          </td>
          <td class="border border-purple-300 px-4 py-2">
            <%= item.channel %>
          </td>
          <td class="border border-purple-300 px-4 py-2">
            <%= item.lastVideo %>
          </td>
          <td class="border border-purple-300 px-4 py-2">
            <%= item.lastPublish %>
          </td>
          <td class="border border-purple-300 px-4 py-2">
            <%= item.message %>
          </td>
          <td class="border border-purple-300 px-4 py-2">
            <%= item.notifyGuild %>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <!-- Twitch Channels a Notificar na Guilda -->
    <h2 class="text-2xl font-bold mt-8">
      Twitch Channels a Notificar na Guilda
    </h2>
    <button
      onclick="abrirModal1()"
      class="bg-purple-300 text-white px-4 py-2 rounded-md mt-4 hover:bg-purple-400 focus:outline-none focus:shadow-outline-purple"
    >
      Adicionar Dados
    </button>

    <div
      id="modal1"
      class="hidden fixed inset-0 w-1/6 h-1/6 mx-auto my-auto items-center justify-center"
    >
      <form
        id="addDataForm1"
        action="/bot/adicionar-dados-twitch"
        method="post"
        class="bg-white p-8 rounded-lg shadow-md w-full max-w-md"
      >
        <label for="channel1" class="block text-sm font-medium text-gray-700"
          >Nome do Canal:</label
        >
        <input
          type="text"
          id="channel1"
          name="newData"
          required
          class="mt-1 p-2 block w-full border rounded-md"
        />
        <input
          type="hidden"
          id="guildId1"
          name="guildId"
          value="<%= info.id %>"
        />
        <div class="mt-4 flex space-x-4">
          <button
            type="button"
            onclick="fecharModal1()"
            class="bg-gray-500 text-white px-4 py-2 rounded-md"
          >
            Fechar
          </button>
          <button
            type="submit"
            class="bg-green-400 text-white px-4 py-2 rounded-md"
          >
            Adicionar
          </button>
        </div>
      </form>
    </div>

    <table
      class="table-auto w-11/12 mt-4 mb-12 bg-purple-300 border rounded-lg shadow-md overflow-hidden"
    >
      <thead class="bg-green-300">
        <tr>
          <th class="px-4 py-2">Twitch</th>
          <th class="px-4 py-2">Channel</th>
          <th class="px-4 py-2">Notify Guild</th>
        </tr>
      </thead>
      <tbody>
        <% info3.forEach(item => { %>
        <tr class="bg-gray-100">
          <td class="border border-green-300 px-4 py-2"><%= item.twitch %></td>
          <td class="border border-green-300 px-4 py-2"><%= item.channel %></td>
          <td class="border border-green-300 px-4 py-2"><%= item.guildID %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <script>
      function abrirModal() {
        var modal = document.getElementById("modal");
        modal.style.display = "block";
      }

      function abrirModal1() {
        var modal = document.getElementById("modal1");
        modal.style.display = "block";
      }

      function fecharModal() {
        var modal = document.getElementById("modal");
        modal.style.display = "none";
      }

      function fecharModal1() {
        var modal = document.getElementById("modal1");
        modal.style.display = "none";
      }

      function voltarAoDashboard() {
        window.history.back();
      }
    </script>
  </body>
</html>
