<!-- guildcontentmain.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Discord Bot Dashboard</title>
  </head>
  <body>
    <h1>Guilda <%= info.name %></h1>
    <% if (info.icon && info.icon.indexOf('null') === -1) { %>
    <p><img src="<%= info.icon %>" alt="Ícone da guilda" /></p>
    <% } else { %>
    <!-- Substitua "caminho/para/sua/imagem.png" pelo caminho real da sua imagem padrão -->
    <p><img src="/res/serverIcon/nonserverimg.jpg" alt="Ícone padrão" /></p>
    <% } %>
    <p>ID da Guilda: <%= info.id %></p>
    <p>Descrição: <%= info.description %></p>
    <p>Número de Membros: <%= info.memberCount %></p>
    <p>Canais de Voz: <%= info.voiceChannels %></p>
    <p>Canais de Texto: <%= info.textChannels %></p>

    <!-- Informações do Bot -->
    <h2>Informações do Bot</h2>
    <div>
      <p>Número de Servidores: <%= info.guildCount %></p>
      <p>Status do Bot: <%= info.botStatus %></p>
      <p>Tempo de Atividade: <%= info.uptime %></p>
    </div>

    <!-- Botão de retorno ao dashboard -->
    <a href="/dashboard">
      <button>Voltar ao Dashboard</button>
    </a>

    <a href="/bot/database-guilda?guildId=<%= info.id %>">
      <button>Abrir Banco de Dados</button>
    </a>

  </body>
</html>
